@page
@model MyAutoService.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">به اتوسرویس ما خوش آمدید.</a>.</p>
</div>
